// Copy this file to arduino_secrets.h and fill the values.

#ifndef ARDUINO_SECRETS_H
#define ARDUINO_SECRETS_H

#define SECRET_WIFI_SSID  "MySSID"
#define SECRET_WIFI_PASSWORD  "MyWiFiPassword"

#define THINGSPEAK_CHANNEL_ID 1234567
#define THINGSPEAK_API_KEY  "MyApiKey"

#endif
